.icons-size {
  img:first-child {
    margin-right: 10px;
  }

  img {
    width: 20px;
  }
}

.td-role {
  text-transform: capitalize;
}

.td-email {
  cursor: pointer;
}

.spin-loader {
  justify-content: center;
  display        : flex;
  align-items    : center;
  height         : 100vh;
}

.pagination-ul {
  cursor: pointer;
}